.header-top-area { z-index: 99 !important; position: fixed; top: 0; left: 0; padding-top: 30px; padding-bottom: 25px; padding: 30px 40px 25px 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #edefff; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.5s ease-in; transition: all 0.5s ease-in; text-transform: uppercase; }

ul { margin: 1rem; }
ul li { list-style: none; }

.header-top-area-scroll { background: #78a1de; padding: 20px 40px 15px 40px; }

.nav-item { margin-left: 30px; cursor: pointer; }
.nav-item a { text-decoration: none; color: #edefff; border-bottom: solid 0px #78a1de; padding-bottom: 7px; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out; }
.nav-item a:hover { padding-bottom: 1px; border-bottom: solid 1px #78a1de; color: #78a1de; text-decoration: none; }

.welcome-image-area { height: 100vh; background: url(../img/bg-s.jpg) no-repeat center/cover; padding: 0; margin: 0; -webkit-box-shadow: 100vw 0 rgba(0, 0, 0, 0.5) inset; box-shadow: 100vw 0 rgba(0, 0, 0, 0.5) inset; }
.welcome-image-area .row { height: 100vh; color: #edefff; }
.welcome-image-area p { margin-top: 15px; margin-bottom: 15px; }
.welcome-image-area input { padding: 15px; text-align: center; text-transform: uppercase; background: transparent; border: 1px solid white; color: white; -webkit-transition: 1s; transition: 1s; cursor: pointer; }
.welcome-image-area input:hover { background: #78a1de; -webkit-box-shadow: 0 0 30px #78a1de; box-shadow: 0 0 30px #78a1de; }

.advantage i { color: #78a1de; }
.advantage h2 { margin-top: 15%; margin-bottom: 15%; }

.icon { height: 100px; width: 100px; border: 1px solid #78a1de; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 100px; border-radius: 50%; margin: 0; margin-bottom: 15%; text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4); -webkit-transition: border 0.5s, text-shadow 0.5s, -webkit-box-shadow 0.5s; transition: border 0.5s, text-shadow 0.5s, -webkit-box-shadow 0.5s; transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s; transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s, -webkit-box-shadow 0.5s; }
.icon:hover { border: 1px solid #fff; -webkit-box-shadow: 10px 10px 10px #ccc; box-shadow: 10px 10px 10px #ccc; text-shadow: none; }
.icon ~ p:last-child { margin-bottom: 15%; }

/*
.icon{ width: 100px; height: 100px; text-shadow: 3px 3px 7px rgba(0,0,0,0.4); transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s; i{ position: relative; } i::after{
content:"";
position: absolute;
display: block;
border: #000000 1px solid;
width: 200%;
height: 200%;
top:-50%;
left:-50%;
border-radius: 50%;
&:hover{ text-shadow: 3px 3px 7px rgba(0,0,0,0.4); transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s;
} }
}
*/
.desc-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #f3f3f3; padding-top: 15%; padding-bottom: 15%; padding-left: 10%; padding-right: 10%; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'open_sanslight', sans-serif; color: #78a1de; min-height: 50vh; }
.desc-text .h2 { font-size: 2rem; }

.desc-img1 { min-height: 100%; min-width: 100%; background: url(../img/bg-s.jpg) no-repeat center/cover; padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.desc-img2 { height: 100%; width: 100%; background: url(../img/bs-s2.jpg) no-repeat center/cover; padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 768px) { .desc-img1, .desc-img2 { padding: 50%; } }
#preloader-area { position: fixed; z-index: 1000; top: 0; left: 0; background: #78a1de; width: 100%; height: 100%; text-align: center; }
#preloader-area .loader { position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }
#preloader-area .loader div { display: inline-block; background-color: #ffffff; width: 14px; height: 14px; margin: 3px; border-radius: 50%; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
#preloader-area .loader .bounce1 { -webkit-animation-delay: -.32s; animation-delay: -.32s; }
#preloader-area .loader .bounce2 { -webkit-animation-delay: -.16s; animation-delay: -.16s; }

@-webkit-keyframes bouncedelay { 0%,
    100%,
    80% { -webkit-transform: scale(0); transform: scale(0); }
  40% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes bouncedelay { 0%,
    100%,
    80% { -webkit-transform: scale(0); transform: scale(0); }
  40% { -webkit-transform: scale(1); transform: scale(1); } }
#map { overflow: hidden; height: 100vh; width: 100%; }
#map #mapBlock { padding-top: 20%; height: 100%; }

input { padding: 15px; text-align: center; text-transform: uppercase; background: transparent; border: 1px solid white; color: white; -webkit-transition: 1s; transition: 1s; cursor: pointer; }
input:hover { background: #78a1de; -webkit-box-shadow: 0 0 30px #78a1de; box-shadow: 0 0 30px #78a1de; }

html, body, div, p, ul, li { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'open_sanslight', sans-serif; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

a { text-decoration: none; }

/*# sourceMappingURL=style.css.map */